custom-label-parse/src/main/resources/META-INF/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.example.org/schema/user"
        xmlns:tns="http://www.example.org/schema/user"
        elementFormDefault="qualified">
    <element name ="user">
        <complexType>
            <attribute name="id" type ="string" />
            <attribute name="username" type ="string" />
            <attribute name="email" type ="string" />
        </complexType>
    </element>
</schema>